.container {
  position: relative;
  flex-grow: 1;
  transition: filter 1s 0s;
  pointer-events: none;
  filter: brightness(10%);
  &.light-on {
    transition: filter 1s 2s;
    pointer-events: all;
    filter: none;
  }

  .beef,
  .key,
  .shadow {
    position: absolute;
    transition: top 1s cubic-bezier(0.680, -0.550, 0.265, 1.550), transform 1s cubic-bezier(0.680, -0.550, 0.265, 1.550), filter .3s ease;
    max-width: 80%;
    max-height: 70%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .beef {
    z-index: 2;
    cursor: pointer;
    border-radius: 250px 500px 100px 300px;
    &:hover {
      filter:contrast(1.2);
    }
    &.active {
      top: -28vh;
      & ~ .key {
        transition: opacity 0s 0s, top 1.3s 0s ease, transform 1.3s 0s ease;
        transform: rotate(355deg);
        top: 48vh;
        opacity: 1;
      }
      & ~ .shadow {
        transform: scale(0.8);
        top: 33vh;
      }
    }
  }

  .key {
    transition: opacity 0s 1s, top 1.3s 0s ease, transform 0s 1s ease;
    transform-origin: center;
    z-index: 0;
    max-width: 20%;
    max-height: 10%;
    opacity: 0;
    cursor: pointer;
    &:hover {
      filter: brightness(120%);
    }
    &.clicked {
      filter: brightness(120%);
      z-index: 1;
    }
  }

  .shadow {
    z-index: 0;
    top: 10%;
    pointer-events: none;
  }
}

