.btn--link {
  transition: color 0.3s, background-color 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: {
    top: 2vh;
    left: 2vh;
    right: 2vh;
    bottom: 2vh;
  }
  border-radius: 5px;
  text-decoration-line: none;
  text-align: center;
  font: {
    family: "Raleway", sans-serif;
    size: 4vmin;
  }
  padding: {
    top: 2vmin;
    left: 4vmin;
    right: 4vmin;
    bottom: 2vmin;
  }
}

.simplememo {
  background-color: #463f3a;
  color: #f4f3ee;
  &:hover {
    background-color: #8A817c;
  }
}
