.container {
  position: relative;
  flex-grow: 1;
  transition: filter 1s 0s;
  filter: brightness(10%);
  pointer-events: none;
  &.light-on {
    filter: none;
    pointer-events: all;
    transition: filter 1s 2s;
  }
  .beef,
  .key,
  .shadow {
    transition: all 1s;
    position: absolute;
    max-width: 80%;
    max-height: 70%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .beef {
    border-radius: 250px 500px 100px 300px;
    z-index: 2;
    cursor: pointer;
    &:hover {
      transform: translateY(-1.5vh);
      &~.shadow {
        transform: translateY(1.5vh) scale(0.98);
      }
    }
    &.active {
      transform: translateY(-13vh);
      & ~ .key {
        transition: opacity 0s 0s, transform 1s 0s;
        transform: translateY(23vh) rotate(355deg);
        opacity: 1;
      }
      & ~ .shadow {
        transform: translateY(13vh) scale(0.8);
      }
    }
  }
  .key {
    transition: opacity 0s 1s, transform 1s 0s;
    transform-origin: center;
    z-index: 0;
    max-width: 20%;
    max-height: 10%;
    opacity: 0;
    cursor: pointer;
    &:hover {
      filter: brightness(120%);
    }
  }
  .shadow {
    z-index: 0;
    top: 10%;
    pointer-events: none;
  }
}

