.container {
  $neon: #ff3557;
  position: relative;
  font-weight: 900;
  padding: {
    top: 2vh;
    left: 2vh;
    right: 2vh;
    bottom: 1vh;
  }

  .neon {
    display: inline-block;
    transform: translateZ(0);
    &.neon--active {
      animation: neon 1s 0s forwards;
      @keyframes neon {
        30%,
        70% {
          text-shadow: none;
          color: black;
        }
        0%,
        50% {
          text-shadow: $neon 0 0 21px, $neon 0 0 82px;
          color: white;
        }
        100% {
          text-shadow: $neon 0 0 21px, $neon 0 0 42px, $neon 0 0 82px,
          $neon 0 0 102px;
          color: white;
        }
      }
    }
  }

  .title {
    display: flex;
    flex-wrap: wrap;
    font-size: 10vh;
    .title__no-neon {
      margin: {
        right: 3vh;
        bottom: -2vh;
      }
    }
  }

  .author {
    margin: {
      top: 2vh;
    }
    font-size: 5vh;
    .author__neon {
      animation-delay: 0.4s;
    }
  }

  .switch {
    position: fixed;
    top: -10%;
    right: 10%;
    z-index: 2;
    max-width: 30px;
    max-height: 50%;
    cursor: pointer;
    transform-origin: top;
    animation: swing 3s linear infinite;
    @keyframes swing {
      0% {transform: rotate(0deg)}
      10% {transform: rotate(-2deg)}
      20% {transform: rotate(-4.5deg)}
      25% {transform: rotate(-5deg)}
      30% {transform: rotate(-4.5deg)}
      40% {transform: rotate(-2deg)}
      50% {transform: rotate(0deg)}
      60% {transform: rotate(2deg)}
      70% {transform: rotate(4.5deg)}
      75% {transform: rotate(5deg)}
      80% {transform: rotate(4.5deg)}
      90% {transform: rotate(2deg)}
      100% {transform: rotate(0deg)}
    }
    &:hover {
      filter:brightness(150%);
    }
    &.active {
      animation: switch 0.3s 2 alternate;
      @keyframes switch {
        from {
          top: -10%;
        }
        to {
          top: 0;
        }
      }
    }
  }
}
