.container {
  position: relative;
  border: 1px solid blue;
  font-weight: 900;
  padding: {
    top: 2vh;
    left: 2vh;
    right: 2vh;
    bottom: 1vh;
  }
  .title {
    display: flex;
    flex-wrap: wrap;
    font-size: 10vh;
    .title--no-neon {
      margin-right: 3vh;
    }
    .title--neon {
    }
  }
  .author {
    margin: {
      top: 2vh;
    }
    font-size: 5vh;
  }
  .switch {
    border: 1px solid red;
    position: fixed;
    top: -10%;
    right: 10%;
    z-index: 2;
    max-width: 30px;
    max-height: 50%;
    cursor: pointer;
    &.active {
      animation: switch .3s 2 alternate;
      @keyframes switch {
        from {
          top: -10%;
        }
        to {
          top: 0;
        }
      }
    }
  }
}
